
<div class="glossarycontainer">
  <h2><span>Glossary</span></h2>
  <hr>
  <h3>Generi</h3>
  <div>
    <p>Un genere e' un modo di classificare un gioco in base al suo gameplay piuttosto che alle caratteristiche visive o narrative.</p>
    <table class="table-header">
      <thead>
      <tr>
        <th>Reference</th>
        <th>Genere</th>
        <th>Definizione</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><img title="Platform" alt="Platform" class="genres genre2"></td>
        <td><b>Platform</b></td>
        <td>Giochi con meccaniche che prevedono il salto, l'arrampicata o il volo per spostarsi nell'ambiente e raggiungere il proprio obiettivo. A volte indicato come un gioco “platform” o “salta e corri”.
        </td>
      </tr>
      <tr>
        <td><img title="Racing" alt="Racing" class="genres genre3"></td>
        <td><b>Racing</b></td>
        <td>Giochi in cui auto veloci, biciclette o altri veicoli gareggiano in una competizione di corse. Alcuni scenari potrebbero essere basati su campionati di corse del mondo reale, ma altri potrebbero essere inventati. I giochi di corse sono anche classificati come giochi "Sport".
        </td>
      </tr>
      <tr>
        <td><img title="RPG (RolePlaying-Game)" alt="RPG (RolePlaying-Game)" class="genres genre4"></td>
        <td><b>RPG (RolePlaying-Game)</b></td>
        <td>Giochi in cui il giocatore assume il ruolo di un personaggio in un ambiente immaginario. L’obiettivo è mettere in atto questo ruolo all’interno di una narrazione, spesso attraverso un processo decisionale strutturato.</td>
      </tr>
      <tr>
        <td><img title="Shooter" alt="Shooter" class="genres genre7"></td>
        <td><b>Shooter</b></td>
        <td>Giochi in cui l'obiettivo è utilizzare le armi per superare un livello. Questo potrebbe essere completato sparando a bersagli o nemici e il gioco spesso mette alla prova la i riflessi, la velocità e la consapevolezza di ciò che circonda il giocatore. Uno sparatutto è spesso collegato al genere "Azione" e/o "Horror".</td>
      </tr>
      <tr>
        <td><img title="Fighting" alt="Fighting" class="genres genre8"></td>
        <td><b>Fighting</b></td>
        <td>Giochi con una forte enfasi sul combattimento tra uno o più giocatori. Contrattacco, reazioni a catena, parate e combo sono spesso utilizzati nel combattimento corpo a corpo.</td>
      </tr>
      <tr>
        <td><img title="Stealth" alt="Stealth" class="genres genre9"></td>
        <td><b>Stealth</b></td>
        <td>Giochi in cui l'obiettivo è evitare o superare lo scontro rimanendo inosservati. Il giocatore spesso deve essere subdolo, restare nell'ombra o usare travestimenti.
        </td>
      </tr>
      <tr>
        <td><img title="Action" alt="Action" class="genres genre10"></td>
        <td><b>Action</b></td>
        <td>E' caratterizzato da combattimenti frenetici, in corpo a corpo o a distanza.</td>
      </tr>
      <tr>
        <td><img title="Adventure" alt="Adventure" class="genres genre11"></td>
        <td><b>Adventure</b></td>
        <td>Caratterizzato dall'esplorazione, risoluzione di enigmi, interazione con personaggi di gioco ed è incentrato sulla narrazione piuttosto che sulle sfide basate sulla prontezza di riflessi.
        </td>
      </tr>
      <tr>
        <td><img title="Survival" alt="Survival" class="genres genre12"></td>
        <td><b>Survival</b></td>
        <td>Giochi in un ambiente ostile ed open world. Il personaggio ha il bisogno di raccogliere risorse, costruire armature, armi e ripari.</td>
      </tr>
      <tr>
        <td><img title="Horror" alt="Horror" class="genres genre13"></td>
        <td><b>Horror</b></td>
        <td>Giochi basati sulla sopravvivenza del personaggio calato in un'atmosfera di paura e suspense. Le tipiche meccaniche del gioco combinano elementi dell'avventura grafica e dell'azione.</td>
      </tr>
      <tr>
        <td><img title="Puzzle" alt="Puzzle" class="genres genre14"></td>
        <td><b>Puzzle</b></td>
        <td>Giochi che presentano meccaniche di gioco di puzzle logici, labirinti. Lo stesso vale per il completamento delle parole e la risoluzione delle sequenze. Spesso collegato al genere "Avventura".</td>
      </tr>
      <tr>
        <td><img title="Visual Novel" alt="Visual Novel" class="genres genre15"></td>
        <td><b>Visual Novel</b></td>
        <td>Giochi che si comportano più come finzioni interattive con una forte attenzione al dialogo. Combina la narrativa testuale con illustrazioni statiche o animate. Una Visual Novel viene talvolta definita anche “Novel Game”.
        </td>
      </tr>
      <tr>
        <td><img title="Strategy" alt="Strategy" class="genres genre16"></td>
        <td><b>Strategy</b></td>
        <td>Giochi in cui i giocatori prendono decisioni non forzate e autonome che avranno un alto significato nel determinare il risultato. Pensare e pianificare abilmente sono importanti per ottenere la vittoria.</td>
      </tr>
      <tr>
        <td><img title="Open World" alt="Open World" class="genres genre25"></td>
        <td><b>Open World</b></td>
        <td>Giochi che hanno grandi mappe del mondo dove puoi esplorare o vagare liberamente. Ha l'intento di fornire autonomia al giocatore e spesso manca di un gameplay lineare e strutturato.</td>
      </tr>
      <tr>
        <td><img title="Monster Collector" alt="Monster Collector" class="genres genre26"></td>
        <td><b>Monster Collector</b></td>
        <td>Giochi che permettono al giocatore di catturare e collezionare mostri, spesso diventano anche compagni d'avventura.</td>
      </tr>
      <tr>
        <td><img title="Metroidvania" alt="Metroidvania" class="genres genre30"></td>
        <td><b>Metroidvania</b></td>
        <td>Giochi a piattaforme caratterizzati da una singola mappa interconnessa, con stanze o sezioni di grandezza variabile.</td>
      </tr>
      <tr>
        <td><img title="Soulslike" alt="Soulslike" class="genres genre31"></td>
        <td><b>Soulslike</b></td>
        <td>Un vasto insieme di diversi sistemi di gioco caratteristici che puntano a offrire ai giocatori un'esperienza legata intrinsecamente anche a determinate sensazioni, come quella di soddisfazione dopo aver sconfitto un boss.</td>
      </tr>
      <tr>
        <td><img title="Roguelike" alt="Roguelike" class="genres genre32"></td>
        <td><b>Roguelike</b></td>
        <td>Un roguelike è un videogioco con livelli generati casualmente, permadeath (morte permanente) e gameplay strategico.</td>
      </tr>
      <tr>
        <td><img title="Deckbuilding" alt="Deckbuilding" class="genres genre34"></td>
        <td><b>Deckbuilding</b></td>
        <td>Il deckbuilding è un genere in cui i giocatori costruiscono un mazzo di carte durante il gioco, utilizzando le carte per affrontare sfide, sconfiggere nemici o superare ostacoli. Le scelte strategiche influenzano il progresso e il risultato della partita.</td>
      </tr>
      <tr>
        <td><img title="Sandbox" alt="Sandbox" class="genres genre35"></td>
        <td><b>Sandbox</b></td>
        <td>Il sandbox è un genere che offre al giocatore un'ampia libertà di esplorazione e interazione con il mondo di gioco, spesso senza obiettivi lineari, permettendo di creare, modificare e sperimentare l'ambiente secondo le proprie preferenze.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
