.background-container {
  width: 100%;
  height: 115vh; /* Imposta l'altezza a schermo intero */
  background-image: url('https://i.postimg.cc/3rzQ2vSp/SOLO-SFONDO.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  color: #f0f0f0;
}

.howtoplay-container {
  text-align: center;
  margin-top: 20px;
}

.accordion-container {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  height: 80vh; /* Imposta l'altezza della pagina per centrare l'accordion */
}

.accordion {
  max-width: 600px; /* Limita la larghezza massima dell'accordion */
  width: 100%; /* Assicura che l'accordion prenda tutta la larghezza disponibile fino al max-width */
  background-color: #0b241a;
}

/* Modifica i bottoni per non occupare tutta la larghezza */
.accordion-button {
  width: auto; /* Rimuove la larghezza 100% per i bottoni */
  margin: 0 auto;
  transition: height 0.3s ease;
  background-color: #0b241a;
  color: #f0f0f0;
}

.accordion-body {
  max-height: 400px; /* Imposta un'altezza massima fissa */
  overflow-y: auto;
  padding: 1rem;
  background-color: #0b241a;
  color: #f0f0f0;
}

.accordion-header{
  background-color: #0b241a;
}

