<div class="background-container">
<div class="dropdown">
  <div class="buttonMenuTendina">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      INFO
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button" routerLink="/how-to-play">Come giocare</button></li>
      <li ><button class="dropdown-item" type="button" routerLink="/glossary">Glossario</button></li>
    </ul>
  </div>
</div>
<div class="container position-relative" style="height: 75vh">
    <button id="pgsButton" class="position-absolute" style="top:25%; left:26%" routerLink="/pgs"></button>
    <button id="covsButton" class="position-absolute" style="top:65%; left:26%" routerLink="/cover"></button>
    <button id="soundButton" class="position-absolute" style="top:25%; left:56%" routerLink="/soundtrack"></button>
    <button id="endyButton" class="position-absolute" style="top:65%; left:56%"></button>
    <img src="https://i.postimg.cc/762NC9xt/CLOSED-SIGN.webp" class="position-absolute" style="top:65%; left:61.5%; z-index: 1500; width:100px; height: 100px">
</div>
</div>
