
<div class="background-container">

<div class="cover-container" style="position: relative;">
<img
  id="img2"
  class="cover"
  src="{{videogame?.cover}}"
  alt="videogame Cover"
  height="320" width="320"
/>

  <div class="custom-frame"></div>
</div>
</div>




<div class="heart-container position-absolute" style="top:77%; left:50%; transform:translate(-50%, -50%); display: flex; gap: 10px;">
  <img *ngFor="let heart of hearts" [src]="heart" class="heart" alt="heart" />
</div>

  <div class="button-container">
  <button *ngIf="mostraReStart"(click)="restartGame()" class="position-absolute" style="top:90%; left:38%">Restart</button>
  <button (click)="controllaRisposta()" class="position-absolute" style="top:90%; left:48%">Rispondi</button>
  <button *ngIf="mostraProssimo"(click)="caricaRound()" class="position-absolute" style="top:90%; left:58%">Prossimo</button>
  </div>

<div class="container">
<div class="input-container position-absolute" style="top:85%; left:50%; transform:translate(-50%,-50%);">
  <input (input)="onInputChange(answer)" type="text" [(ngModel)]="answer">
  <ul *ngIf="filteredOptions.length > 0" class="dropdown">
    <li
      *ngFor="let option of filteredOptions"
      (click)="selectOption(option)"
      class="dropdown-item"
    >
      {{ option }}
    </li>
  </ul>
</div>
</div>

