/*#img2
{
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: -webkit-filter 0.5s ease-in;
}*/
.autocomplete {
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3e3e6e;
  color: #f0f0f0;
}

.dropdown2 {
  position: absolute;
  width: 100%;
  background-color: #3e3e6e;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  color: #f0f0f0;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #000000;
}

.cover-container {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 60vh;          /* L'altezza del contenitore occupa l'intera viewport */
  position: relative;     /* Per mantenere posizioni assolute degli elementi interni */
}

.cover {
  max-width: 100%; /* Assicura che l'immagine non superi le dimensioni del contenitore */
  max-height: 100%; /* Mantiene proporzioni e adatta l'immagine */
  filter: blur(10px); /* Blur iniziale */
  transition: filter 0.5s ease; /* Transizione fluida quando il blur cambia */
}

.input-container{
  width:100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.input-container input {
  width: 100%; /* L'input occupa tutta la larghezza del contenitore */
  padding: 10px; /* Aggiunge un po' di spazio interno */
  font-size: 16px; /* Dimensione del testo */
  border: 1px solid #3e3e6e; /* Bordo leggero */
  border-radius: 5px; /* Angoli arrotondati */
  box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
}

.heart-container {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.heart {
  width: 40px; /* Dimensione dei cuori */
  height: 40px;
}



.background-container {
  width: 100%;
  height: 115vh; /* Imposta l'altezza a schermo intero */
  background-image: url('https://i.postimg.cc/PJWwqSDz/cabinato1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#invio-button{
  background-color: transparent;
  color:transparent;
  border:none;
  margin:0;
  padding:0;
  box-shadow: none;
  position: relative;
  background-image: url('https://i.postimg.cc/gLrvCgh1/bottoneinvio95x29static.webp'); /* Percorso all'immagine statica */
  background-size: cover;
  width: 95px; /* Modifica la dimensione a seconda dell'immagine */
  height: 29px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  z-index: 900;
}
#invio-button:hover {
  background-image: url('https://i.postimg.cc/PpXb4X5X/bottoneinvio95x29hover.webp'); /* Cambia immagine al passaggio del mouse */
}

#invio-button:active {
  background-image: url('https://i.postimg.cc/jwMH3pDz/bottoneinvio95x29pressed.webp'); /* Cambia immagine quando premuto */
}

img
{
  border: none;
}

.custom-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
  pointer-events: none;
  z-index: 2;
  background-image: url('https://i.postimg.cc/tC39tvjG/corniceviolasemplice.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-container {
  position: relative;
}

.buttonMenuTendina
{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

