
<div class="cover-container">
<img
  id="img2"
  class="cover"
  src="{{videogame?.cover}}"
  alt="videogame Cover"
  height="420" width="420"
/>
</div>


  <div class="button-container">
  <button *ngIf="mostraReStart"(click)="restartGame()" class="position-absolute" style="top:80%; left:38%">Restart</button>
  <button (click)="controllaRisposta()" class="position-absolute" style="top:80%; left:48%">Rispondi</button>
  <button *ngIf="mostraProssimo"(click)="caricaRound()" class="position-absolute" style="top:80%; left:58%">Prossimo</button>
  </div>

<div class="container">
<div class="input-container position-absolute" style="top:85%; left:50%; transform:translate(-50%,-50%);">
  <input (input)="onInputChange(answer)" type="text" [(ngModel)]="answer">
  <ul *ngIf="filteredOptions.length > 0" class="dropdown">
    <li
      *ngFor="let option of filteredOptions"
      (click)="selectOption(option)"
      class="dropdown-item"
    >
      {{ option }}
    </li>
  </ul>
</div>
</div>
