<div class="background-container">

  <div class="dropdown">
    <div class="buttonMenuTendina">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        INFO
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" routerLink="/howtoplay">Come giocare</button></li>
        <li ><button class="dropdown-item" type="button" routerLink="/glossary">Glossario</button></li>
      </ul>
    </div>
  </div>

  <div class="cover-container" style="position: relative;">
    <img
      id="img2"
      class="cover"
      src="{{videogame?.cover}}"
      alt="videogame Cover"
      height="320" width="320"
    />
    <div class="custom-frame"></div>
  </div>

</div>

<div class="heart-container position-absolute" style="top:57%; left:50%; transform:translate(-50%, -50%); display: flex; gap: 10px;">
  <img *ngFor="let heart of hearts" [src]="heart" class="heart" alt="heart" />
</div>

  <div class="button-container">
    <button *ngIf="mostraReStart"(click)="restartGame()" class="position-absolute" style="top:70%; left:38%">Restart</button>
    <button id="invio-button" *ngIf="mostraRispondi" (click)="controllaRisposta()" class="position-absolute" style="top:70%; left:48%"></button>
    <button *ngIf="mostraProssimo" (click)="caricaRound()" class="position-absolute" style="top:70%; left:58px">Prossimo</button>
  </div>

<div class="container">
  <div class="input-container position-absolute" style="top:65%; left:50%; transform:translate(-50%,-50%);">
    <input (blur)="nascondiTendina()" (focus)="showTendina=true" (input)="onInputChange(answer)" type="text" [(ngModel)]="answer" placeholder="Inserisci">
      <ul *ngIf="filteredOptions.length > 0 && showTendina" class="dropdown2 dropdown">
        <li
          *ngFor="let option of filteredOptions"
          (click)="selectOption(option)"
          class="dropdown-item"
        >
          {{ option }}
        </li>
      </ul>
  </div>
</div>

