.autocomplete {
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.sound-container {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 60vh;          /* L'altezza del contenitore occupa l'intera viewport */
  position: relative;     /* Per mantenere posizioni assolute degli elementi interni */
}

.input-container{
  width:100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.input-container input {
  width: 100%; /* L'input occupa tutta la larghezza del contenitore */
  padding: 10px; /* Aggiunge un po' di spazio interno */
  font-size: 16px; /* Dimensione del testo */
  border: 1px solid #ccc; /* Bordo leggero */
  border-radius: 5px; /* Angoli arrotondati */
  box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
}

.heart-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.heart {
  width: 40px; /* Dimensione dei cuori */
  height: 40px;
}
.background-container {
  width: 100%;
  height: 115vh; /* Imposta l'altezza a schermo intero */
  background-image: url('https://i.postimg.cc/PJWwqSDz/cabinato1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
}

.buttonMenuTendina
{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#restart-button{
  background-color: transparent;
  color:transparent;
  border:none;
  margin:0;
  padding:0;
  box-shadow: none;
  position: relative;
  background-image: url('https://i.postimg.cc/4dTQBCwg/Pulsante-RESTART-Static.webp'); /* Percorso all'immagine statica */
  background-size: cover;
  width: 29px; /* Modifica la dimensione a seconda dell'immagine */
  height: 29px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  z-index: 900;
}
#restart-button:hover {
  background-image: url('https://i.postimg.cc/25WxQjQG/Pulsante-RESTART-Hover.webp'); /* Cambia immagine al passaggio del mouse */
}

#restart-button:active {
  background-image: url('https://i.postimg.cc/nzYYWdwQ/Pulsante-RESTART-Pressed.webp'); /* Cambia immagine quando premuto */
}

#prossimo-button{
  background-color: transparent;
  color:transparent;
  border:none;
  margin:0;
  padding:0;
  box-shadow: none;
  position: relative;
  background-image: url('https://i.postimg.cc/fRt7sWrs/Pulsante-PROSSIMO-Static.webp'); /* Percorso all'immagine statica */
  background-size: cover;
  width: 29px; /* Modifica la dimensione a seconda dell'immagine */
  height: 29px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  z-index: 900;
}
#prossimo-button:hover {
  background-image: url('https://i.postimg.cc/qM7Xmxcz/Pulsante-PROSSIMO-Hover.webp'); /* Cambia immagine al passaggio del mouse */
}

#prossimo-button:active {
  background-image: url('https://i.postimg.cc/tCmd8nDD/Pulsante-PROSSIMO-Pressed.webp'); /* Cambia immagine quando premuto */
}

img
{
  border: none;
}
