
<div class="background-container">

  <div class="dropdown">
    <div class="buttonMenuTendina">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        INFO
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button">Come giocare</button></li>
        <li ><button class="dropdown-item" type="button" routerLink="/glossary">Glossario</button></li>
      </ul>
    </div>
  </div>

<div class="sound-container">
  <div class="audio-player">
    <div>

      <img (click)="playAudio()" [src]="imgPlay[0]" *ngIf="!isPlaying">
      <img [src]="imgPlay[1]" *ngIf="isPlaying">
      <img (click)="stopAudio()" [src]="imgStop[0]" *ngIf="isPlaying">
      <img [src]="imgStop[1]" *ngIf="!isPlaying">
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <p *ngIf="isPlaying">Riproduzione in corso...</p>
  </div>
</div>

<div class="heart-container position-absolute" style="top:57%; left:50%; transform:translate(-50%, -50%); display: flex; gap: 10px;">
  <img *ngFor="let heart of hearts" [src]="heart" class="heart" alt="heart" />
</div>

<div class="button-container">
  <button *ngIf="mostraReStart" (click)="restartGame3()" class="position-absolute" style="top:70%; left:38%">Restart</button>
  <button *ngIf="mostraProssimo" (click)="caricaRound2()" class="position-absolute" style="top:70%; left:58%">Prossimo</button>
</div>

<div class="container" *ngIf="mostraRisposte">
  <div class="input-container position-absolute" style="top:65%; left:50%; transform:translate(-50%,-50%);">
    <button *ngFor="let ans of allAnswers" (click)="controllaRisposta3(ans)">{{ans}}</button>
  </div>
</div>
</div>
