<div class="background-container">
<div class="pg-container" style="position: relative;">
  <img
    id="img2"
    src="{{pg?.img}}"
    alt="videogame Character"
    height="320" width="320"
  />
  <div class="custom-frame"></div>
</div>
</div>
<div class="heart-container position-absolute" style="top:57%; left:50%; transform:translate(-50%, -50%); display: flex; gap: 10px;">
  <img *ngFor="let heart of hearts" [src]="heart" class="heart" alt="heart" />
</div>

<div class="button-container">
  <button *ngIf="mostraReStart"(click)="restartGame2()" class="position-absolute" style="top:70%; left:38%">Restart</button>
  <button *ngIf="mostraRispondi" (click)="controllaRisposta2()" class="position-absolute" style="top:70%; left:48%">Rispondi</button>
  <button *ngIf="mostraProssimo" (click)="caricaRound4()" class="position-absolute" style="top:70%; left:58%">Prossimo</button>
</div>

<div class="container">
  <div class="input-container position-absolute" style="top:65%; left:50%; transform:translate(-50%,-50%);">
    <input (blur)="nascondiTendina()" (focus)="showTendina=true" (input)="onInputChange(answer)" type="text" [(ngModel)]="answer" placeholder="Inserisci">
    <ul *ngIf="filteredOptions.length > 0 && showTendina" class="dropdown">
      <li
        *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
        class="dropdown-item"
      >
        {{ option }}
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="container position-absolute" style="top:30%; left:105%; transform:translate(-50%,-50%);">
    <p *ngIf="mostraDescrizione">{{pg?.description}}</p>
  </div>
</div>
